<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"ykw-auth-service"}</customFields>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ykw-auth-service.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ykw-auth-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"ykw-auth-service"}</customFields>
        </encoder>
    </appender>

    <logger name="YKW_APP_LOGGER" level="INFO"/>

    <logger name="com.ykw" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="JSON"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>